[ASTEROID]
Population model    = G_10_1000_-2.5_asteroids.ssm
SPK T0              = 59853.01679398148
nDays               = 365
SPK step            = 30
nbody               = F
Object1             = 1
nObjects            = 1103

[SURVEY]
Survey database     = kraken_2026.db
Field1              = 1
nFields             = 234748
Telescope           = V01

[CAMERA]
Camera              = instrument_polygon.dat
Threshold           = 5
